<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Mandali&display=swap" rel="stylesheet">

</head>
<body>
    <h1 class="titulo">Admin</h1>
    <table class="tabla">
<tr class="tabla__titulo">
<td class="tabla__izquierda">Nombre</td>
<td >Visitas</td>
</tr>
<tr>
<td class="tabla__izquierda">Inicio</td>
<td>{{visitaIni}}</td>
</tr>
<tr >
<td class="tabla__izquierda">Sobre nosotros</td>
<td>{{visitaSobre}}</td>
</tr>
<tr >
<td class="tabla__izquierda">Contacto</td>
<td>{{visitaConta}}</td>
</tr>
</table>
 <div class="botones">
    <boton class="boton"><a href="/inicio">Inicio</a></boton>
    <boton class="boton"><a href="/sobre">Sobre</a></boton>
    <boton class="boton"><a href="/contacto">Contacto</a></boton>
    <boton class="boton"><a href="/admin">Admin</a></boton>

    </div>
</body>
</html>