<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Mandali&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="titulo">Inicio</h1>
    <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, quisquam! Eos, aut. Ipsa architecto reprehenderit ducimus aliquid officiis nemo. Repellat atque iure eum enim sint accusamus explicabo asperiores quisquam quod optio corrupti labore dolore non, itaque ab aperiam quam mollitia ex fuga inventore necessitatibus eos recusandae! Ullam, veniam temporibus distinctio facilis eos voluptatem cumque quidem corrupti, dolore magnam maxime aspernatur sequi! Officia veritatis vel explicabo culpa dolores nisi delectus, iste ipsa excepturi, eius et accusamus nobis quaerat aperiam. Aliquid praesentium illo ut eligendi necessitatibus excepturi blanditiis incidunt facere repellat a consequatur, expedita fuga totam corporis ea, deserunt possimus consectetur commodi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe quas esse tempore minus non odio sapiente ducimus, nobis natus! At odit nisi maiores quia enim repellat, perferendis recusandae omnis nam laborum totam, corporis consequuntur incidunt magni molestiae iure cupiditate culpa.</p>
   
    <div class="botones">
    <boton class="boton"><a href="/inicio">Inicio</a></boton>
    <boton class="boton"><a href="/sobre">Sobre</a></boton>
    <boton class="boton"><a href="/contacto">Contacto</a></boton>
    </div>
</body>
</html>